@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  background-color: #f2f2f2;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100vh;
  margin-inline: auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

/* Pages-header */

.page-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  padding-inline: 70px;
  color: #000000;
  background-color: #ffffff;
}

.site-logo {
  display: block;
  flex-shrink: 0;
}

.site-logo-image {
  width: 140px;
  display: block;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  column-gap: 28px;
  flex-grow: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: auto;
  list-style: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  color: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  background-color: #ffffff;
}

.navigation-link:not(.button) {
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation-user-item {
  flex-shrink: 0;
}

.navigation-user-item:has(.button) {
  margin-left: 20px;
}

.navigation-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20px;
  min-width: 20px;
  font-size: 10px;
  text-align: center;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
}

/* Buttons */

.button-primary {
  background-color: #756157;
  color: #ffffff;
}

.nav-button {
  font-size: 16px;
  line-height: 20px;
}

.card-fav {
  background-color: #82B3D3;
}

.fav-added {
  background-color: #7DB54F;
}

/* Main */

main {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
  color: #000000;
}

/* Hero */

.hero {
  padding-block: 51px 82px;
  background-color: #a1a0a0;
  background-image: url("../images/divider.svg"), url("../images/background-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: center bottom, center;
}

.hero-image {
  display: block;
  width: 458px;
  margin-inline: auto;
}

/* Advantages */

.advantages {
  padding-top: 69px;
  background-color: #ffffff;
  text-align: center;
}

.advantages-lead {
  max-width: 700px;
  margin: 0;
  margin-inline: auto;
  color: #000000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  max-width: 700px;
  margin: 0;
  margin-inline: auto;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.advantages .advantages-lead {
  margin-bottom: 25px;
}

.advantages .advantages-description {
  margin-bottom: 69px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-item {
  display: flex;
  width: 400px;
  background-color: #83B3D31F;
  min-height: 385px;
}

.advantages-item-reversed {
  flex-direction: row-reverse;
}

.advantages-text {
  width: 400px;
}

.advantages-text-title {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-text-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-item.imaged {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.imaged .advantages-text-title {
  color: #ffffff;
}

.imaged .advantages-text-description {
  color: #ffffff;
}

.advantages-item.special {
  background-color: #83B3D333;
}

.advantages-image {
  display: block;
  width: 800px;
}

/* Services */

.service {
  background-color: #ffffff;
  text-align: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.service-item {
  width: 400px;
}

.service-item.light {
  background-color: #ffffff;
}

.service-item.dark {
  background-color: #83B3D31F;
}

.service-promo {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.service-about {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.service-description {
  color: #333333;
}

/* Search */

.search {
  background-color: #ffffff;
  text-align: center;
}

.search-title {
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
}

/* Subscribe */

.subscribe {
  background-color: #ffffff;
  text-align: center;
  color: #333333;
}

.subscribe-illustrative {
  background-image: url("../images/background-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #a1a0a0;
  text-align: center;
  color: #ffffff;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-illustrative .subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-control {
  font-size: 18px;
  line-height: 1.33;
  color: #000000;
  opacity: 0.6;
}

.subscribe-input {
  min-width: 452px;
  font-family: inherit;
  color: #000000;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: #F2F2F2;
}

.subscribe-button {
  min-width: 232px;
  font-size: 20px;
  line-height: 36px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #82B3D3;
  color: #ffffff;
}

/* Page-footer */

.page-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
  padding-inline: 70px;
  background-color: #ffffff;
  color: #000000;
}

.social {
  font-family: inherit;
  color: #000000;
  font-weight: 400;
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-link {
  color: inherit;
  font-family: inherit;
  text-decoration: none;
  font-weight: 400;
}

.social-vk {
  background-image: url("../images/social/social-vk.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.social-telegram {
  background-image: url("../images/social/social-telegram.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.social-youtube {
  background-image: url("../images/social/social-youtube.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-address {
  margin-inline: auto;
}

.contacts-phone {
  font-family: inherit;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
}

.site-author {
  width: 115px;
}

/* Catalog */

.main-catalog {
  background-color: #ffffff;
  color: #333333;
}

/* Catalog-filter */

.catalog-filter {
  padding-inline: 70px;
  background-color: #a1a0a0;
  color: #ffffff;
  background-image: url("../images/background-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-family: inherit;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
}

/* Catalog-filter-form */

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  color: #ffffff;
}

.form-filter-list {
  margin: 0;
  padding: 0;
}

.form-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.form-filter-control {
  font-size: 18px;
  line-height: 23px;
}

.form-filter-control-text {
  font-size: 18px;
  line-height: 1.33;
  text-transform: lowercase;
  opacity: 0.3;
}

.form-filter-input {
  background-color: #f2f2f2;
  color: #000000;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.filter-button-apply {
  background-color: #82B3D3;
}

.filter-button-reset {
  background-color: transparent;
  border-color: transparent;
}

/* Catalog-results */

.catalog-results {
  display: grid;
  grid-template-areas:
    "heading select view"
    "catalog catalog catalog"
    "pagination pagination pagination";
  grid-template-columns: 1fr auto auto;
  column-gap: 70px;
  padding-inline: 70px;
}

.catalog-results-title {
  grid-area: heading;
  color: #000000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: left;
}

.select-control {
  min-width: 292px;
  grid-area: select;
  font-family: inherit;
  color: #333333;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #ffffff;
}

.catalog-view-list {
  display: flex;
  grid-area: view;
  gap: 8px;
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
}

.view-button {
  background-color: #ffffff;
}

/* Result-card */

.result-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: catalog;
  margin: 0;
  padding: 0;
  list-style: none;
}

.result-card {
  width: 340px;
  background-color: #ffffff;
}

.card-image {
  display: block;
  width: 300px;
}

.card-link {
  font-family: inherit;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.card-type, .card-price {
  font-size: 18px;
  line-height: 21px;
}

.card-stars-two {
  background-image: url("../images/catalog/rating/two-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-stars-three {
  background-image: url("../images/catalog/rating/three-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-stars-four {
  background-image: url("../images/catalog/rating/four-stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

/* Pagination */

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  grid-area: pagination;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
  text-decoration: none;
}

.pagination-link[aria-current="page"] {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-text {
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-align: center;
}
